.main-container {
    background-color: black;
    width: 640px;
    height: 420px;
    overflow: hidden;
    position: relative;
  }
  
.ball {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  input {
    width: 60px;
    margin-left: 5px;
  }
}
  